# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/compiler.xml
.idea/
Mus3D/.idea/misc.xml
Mus3D/app/app.iml
Mus3D/Mus3D.iml
Mus3D/.idea
=======
*.iml

Mus3D/app/app.iml
*.iml
*.iml
Mus3D/rajawali-0.9/rajawali-0.9.iml
